:host {
  display: inline-block;
  padding: 5px;
  border: 1px solid darkslateblue;
}

.track-zone {
  width: 200px;
  height: 200px;
  vertical-align: top;
  background-color: lightblue;
  border: 1px solid lightblue;
  display: inline-block;
}